body {
  /* background-color: black;
  background-image: url(images/snow1.gif);
  background-size: cover; */
  font-family: helvetica;
}

h1{
  font-size: 100px;
  color: white;
  font-weight: bold;

}

.player{
text-align: center;
opacity: 0.2;


}
#hideMe {
  text-align: center;
  margin-top: 25px;

    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.hide {
  text-align: center;
  margin-top: 25px;

    -moz-animation: cssAnimation 0s ease-in 60s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 60s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 60s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 60s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

audio{
align

}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

#showme{
  margin-top: 50px;
    font-size: 15px;
    text-align: center;
    animation: fadein 60s;
    -moz-animation: fadein 60s; /* Firefox */
    -webkit-animation: fadein 60s; /* Safari and Chrome */
    -o-animation: fadein 60s; /* Opera */

}

/* #showme2{
  margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    -moz-animation: fadein 30s; /* Firefox */
    -webkit-animation: fadein 30s; /* Safari and Chrome */
    -o-animation: fadein 30s; /* Opera */

}
/* #showme{
  margin-top: 25px;
    font-size: 21px;
    text-align: center;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
} */

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:0.4;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:0.4;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:0.4;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 0.4;
    }
}
